In [22]:
import pandas as pd
import json

In [15]:
SAMPLE_SIZE = 100

In [6]:
df = pd.read_csv('Video_Games_Sales.csv')

In [7]:
df = df[df['Name'].notna()]

In [37]:
df.columns

Index(['Name', 'Platform', 'Year_of_Release', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales', 'Critic_Score',
       'Critic_Count', 'User_Score', 'User_Count', 'Developer', 'Rating'],
      dtype='object')

In [38]:
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
def make_samples_dict(df):
    samples = {'samples': []}
    for i in range(SAMPLE_SIZE):
        obj = df.iloc[i]
        sample = {
                     "game": {
                         "name": obj['Name'],
                         "platform": obj['Platform'],
                         "publisher": obj['Publisher'],
                         "developer": obj['Developer'],
                         "genre": obj['Genre'],
                         "year_of_release": obj['Year_of_Release'],
                         "esrb_rating": obj['Rating'],
                         "rating": {
                             "critic_score": obj['Critic_Score'],
                             "critic_count": obj['Critic_Count'],
                             "user_score": obj['User_Score'],
                             "user_count": obj['User_Count']
                         }
                     },
                     "NA_sales": obj['NA_Sales'],
                     "EU_sales": obj['EU_Sales'],
                     "JP_sales": obj['JP_Sales'],
                     "other_sales": obj['Other_Sales'],
                     "global_sales": obj['Global_Sales']
                 }
        samples['samples'].append(sample)

    return samples


samples = make_samples_dict(df)
print(samples['samples'][0])

{'game': {'name': 'Wii Sports', 'platform': 'Wii', 'publisher': 'Nintendo', 'developer': 'Nintendo', 'genre': 'Sports', 'year_of_release': 2006.0, 'esrb_rating': 'E', 'rating': {'critic_score': 76.0, 'critic_count': 51.0, 'user_score': '8', 'user_count': 322.0}}, 'NA_sales': 41.36, 'EU_sales': 28.96, 'JP_sales': 3.77, 'other_sales': 8.45, 'global_sales': 82.53}

In [48]:
def dump_samples_to_json(file_name, samples):
    with open(file_name, 'w') as f:
        json.dump(samples, f, indent=4)

dump_samples_to_json('samples.json', samples)